$card-content-padding: .5rem;

@import 'bulma';
@import url('//fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@100&display=swap');

$montserrat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;

html {
	background-color: #F0EFEB;
}
.hero-parent {
	position: relative;
	z-index: 1;
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	.bg {
		position: absolute;
		z-index: -1;
		opacity: .3;
		background-position: center;
		background-size: cover;
		background-image: image-url('1.jpg');
		background-color: #CB997E;
		min-width: 100%;
		min-height: 100%;
	}
	.steps-bg {
		position: absolute;
		z-index: -1;
		background-color:  #CB997E;
		background-position: center;
		background-size: cover;
		min-width: 100%;
		min-height: 100%;
	}
}
.hero-body {
	width: 100%;
	height: 100%;
}
.title-home {
    font-family: $montserrat;
    font-weight: lighter;
	font-size: calc(3em + 4vw);
	text-align: center;

} 
.input {
	width: 70vw;
}
.home-button {
	margin-left: 10px;
}
.search-grid {
	padding-top: 1%;
}
.title {
	font-size: calc(1em + .5vw);
	font-family: $montserrat;
}
.image-div {
	object-fit: cover;
	width: 100%;
	height: 256px;
	overflow:hidden;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	
}

.search-page {
	margin-left: 5vw;
	margin-right: 5vw;
	
}

.food-title {
	font-size: calc(1.4em + .05vw);
	font-family: $montserrat;
	font-weight: bold;
}

.card {
	border-radius: 20px;
}

.card-footer-item {
	font-family: $open-sans;
}

.filter-bar {
	background-color:#FFF1E6;
}

button {
	font-family: $open-sans;
	font-weight: lighter;
}

.filter-tabs {
	font-family: $montserrat;
	font-weight: bolder;
	font-size: calc(1em + .05vw);
}

.steps-page {
	background-color: #FFF1E6;
	height: 90vh;
	width: 90vw;
	border-radius: 20px;
	
}

.step-image {
    object-fit: cover;
    object-position: center center;
    width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.step-food {
	font-size: calc(3em + 1vw);
	font-family: $montserrat;
	font-weight: bold;
	color: black;
}
.step-steps{
	font-size: 1.4vw;
	padding-top: 1vw;
	font-family: $open-sans;
	font-weight: bold;
	color: black;
	margin-top: auto;
	@include until($desktop){
		font-size: calc(1em + 1vw);
	}
	
}
.right-column {
	padding: 6%;
}

.page {
	margin-top: auto;
	position: absolute;
	bottom: 0;
	color: black;
	padding-top: 35%;

}

.page span {
	color: black;
}

.step-tab {
	color: black;
	font-size: 1em;
}

.steps-button{
	position:absolute;
	z-index:100;
	@include from($tablet){
		left: 5%;
		top: 2%;
	}
	@include until($desktop){
		bottom: 5%;
		left: 32%;
		right: 50%;
	}
}

.left-arrow {
	position: absolute;
	z-index: 100;
	left: 1%;
	top: 45%;
}

.right-arrow {
	position: absolute;
	z-index:100;
	right: 1%;
	top: 45%;
}