.navbar {
    background-color: #B7B7A4;
    padding: 1em 2em 1em 2em;
}

.navbar-container {
    display: grid;
    grid-template-columns: 70% 30%;
    padding-right: 1.5em;
}

.navbar-logo{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.search-bar {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    padding-top: 0.25em;
    position: relative;
    float: right;
}

.search-pic {
    position: absolute;
    top: 10px;
    left: 9px;
    width: 22px;
    height: 22px;
}

input {
    background-color: white;
    border: 1px solid #707070;
    width: 100%;
    padding: 0.5em;
    padding-left: 3em;
    border-radius: 0.50em;
    font-size: 1em;
    outline: none;
}